.background{
    background-image: url("https://media.istockphoto.com/vectors/pixel-minecraft-style-land-background-concept-of-game-ground-vector-id1299963740?k=6&m=1299963740&s=612x612&w=0&h=NQEte4oZmv1HmXenIO62MJzcRqB-ZthuAHlHrP9MQ38=");
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    width: 1000%;
    height:62%;
    animation: moverFondo 10s linear infinite;
}

@keyframes moverFondo {
    0%{
        transform: translateX(0);
    }
    
    100%{
        transform: translateX(-6000px);
    }
}